
.bp{
	  display: inline-block;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: yellow;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.bp:hover {
  	  display: inline-block;
  border-radius: 4px;
  background-color: #7F1806;
  border: none;
  color: blue;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}


.ani1{

  left: 200px;
}


.c1{

  position: absolute;
  left: 0px;
  top:0px;
  background: url(quieto1.gif);
  height: 500px;
  width: 800px;
  display: block;

}
.c12{
  position: absolute;
  left: 0px;
  top: 0px;
  background: url(animado1.gif);
  height: 500px;
  width: 800px;
  display: block;
}


.c2{

  position: absolute;
  left: 0px;
  top:0px;
  background: url(quieto.gif);
  height: 500px;
  width: 800px;
  display: block;

}
.c22{
  position: absolute;
  left: 0px;
  top: 0px;
  background: url(animado.gif);
  height: 500px;
  width: 800px;
  display: block;
}

.bo1{

  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left: 250px;
  top: 10px;
    height:70px;
  width: 200px;
  display: block;

}
.bo1:hover{
    border-radius: 4px;
  background-color:yellow;
  border: none;
  color: blue;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left:250px;
  top: 10px;
    height:70px;
  width: 200px;
  display: block;
}


.bo2{

  border-radius: 4px;
  background-color: #FF8000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left: 250px;
  top: 10px;
    height:70px;
  width: 200px;
  display: block;

}
.bo2:hover{
    border-radius: 4px;
  background-color:yellow;
  border: none;
  color: blue;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left:250px;
  top: 10px;
    height:70px;
  width: 200px;
  display: block;
}